---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Noviembre 2022 - Actialidad",
    title: "Encargado de dasarrollo de Software",
    company: "ABONAP",
    description:
      "Dirigir y coordinar las actividades del equipo de desarrollo, estableciendo metas claras y asignando tareas adecuadas a los miembros del equipo, a demas de realizar el análisis y diseño de sistemas, asegurando la creación de soluciones efectivas y funcionales"
  },
  {
    date: "Junio 2021 - Noviembre 2022",
    title: "Oficial de Desarrollo",
    company: "ABONAP",
    description:
      "Mi responsabilidad principal consistió en el desarrollo de sistemas de acuerdo con las solicitudes al área de desarrollo y elaboración de reportes utilizando Transact-SQL",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
